*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #818181;
    width: 100%;

    display: flex;
    justify-content: center;
}
.main-content{
    background-color: #06025b;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.main-content > div{
    width: 70%;
}

#biografy{
    margin: 50px 0px 50px 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#biografy > img{
    width: 40%;
    padding: 25px 0px 50px 0px;
}
#biografy > p:not(#title){
    padding: 0px 50px 40px 50px;
    color: #dddddd;
}
#title{
    padding: 25px 0px 0px 0px;
    font-size: 350%;
    font-family: 'Montserrat', sans-serif;
    color: #dddddd;
}