*{
    margin: 0;
    padding: 0;
}

.no-link{
    cursor: pointer;
    text-decoration: none;
    color: white;
} 

header{
    background-color: #333;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.name{
    font-size: 400%;
    height: 100%;
    width: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#header-ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dfdfdf;
}

.header-li {
    float: left;
    display: flex;
    height: 100%;
}
  
.header-li-a {
    color: white;
    flex: 1;
    align-self: center;
    vertical-align: middle;
    padding: 90px 30px 30px 30px;
    font-size: 30px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.header-li-a:hover:not(.active) {
    background-color: #444;
}

.active {
    background-color: #444;
}
